github "Alamofire/Alamofire" ~> 4.0
github "duemunk/Async"
github "SwiftBond/Bond" ~> 5.0
github "dzenbot/DZNEmptyDataSet"
github "onevcat/Kingfisher"
github "SwiftyJSON/SwiftyJSON"
github "calt/RichEditorView" "343a2f1999e92203552e032738203b9075c1f4d5"
github "antitypical/Result" ~> 3.0.0
github "soffes/GradientView" ~> 2.2.0
github "Instabug/Instabug-iOS" "dynamic_framework"
